.main {
  aspect-ratio: 1;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.mine,
.mine_exploded {
  transition: background-color 0s ease;
  transition: color 0s ease;
}

.mine_exploded {
  animation: blinkAnimation 1s infinite;
}

.covered,
.flagged,
.mine {
  background-color: var(--color-dark-cell);
}

.covered {
  /* for transition */
  color: transparent;
}

.zero,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  background-color: var(--color-light-cell);
}

.one {
  color: rgb(0, 0, 0, 0.4);
}

.two {
  color: rgb(0, 0, 0, 0.6);
}

.three {
  color: rgb(0, 0, 0, 0.8);
}

.four {
  color: rgb(0, 0, 0, 0.9);
}

.five {
  color: rgb(0, 0, 0, 0.925);
}

.six {
  color: rgb(0, 0, 0, 0.95);
}

.seven {
  color: rgb(0, 0, 0, 0.975);
}

.eight {
  color: rgb(0, 0, 0, 1);
}

@keyframes blinkAnimation {
  0% {
    background-color: var(--color-fail-cell);
  }
  50% {
    background-color: var(--color-dark-cell);
  }
  100% {
    background-color: var(--color-fail-cell);
  }
}
