.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gameSettings {
  display: flex;
  margin: 20px 0;
}

.gameSettings > *:not(:last-child) {
  margin-right: 20px;
}

.emoji {
  position: absolute;
  font-size: 24px;
  animation: rain 3s linear forwards;
  pointer-events: none;
}

@keyframes rain {
  from {
    top: -50px;
  }
  to {
    top: 100vh;
  }
}
