.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gameSettings {
  margin: 20px 0;
}

.gameSettings select {
  padding: 3px 1px;
  min-width: 100px;
  border-radius: 4px;
  color: black;
  border: solid 1px black;
  background-color: white;
}

.gridSize {
  margin-bottom: 10px;
}

.minesDensity {
  margin-bottom: 15px;
}

.emoji {
  position: absolute;
  font-size: 24px;
  animation: rain 3s linear forwards;
  pointer-events: none;
  user-select: none;
}

.button {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

@keyframes rain {
  from {
    top: -50px;
  }
  to {
    top: 100vh;
  }
}

@media screen and (min-width: 760px) {
  .gameSettings {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gameSettingsInput {
    display: flex;
  }

  .gridSize,
  .minesDensity {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}
